__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.env
.venv/
env/
venv/
.idea/
.vscode/
*.sqlite3
*.log
*.db
*.DS_Store
*.coverage
htmlcov/
.pytest_cache/
node_modules/
*.swp
*.bak
*.tmp
__pycache__/
back-host/__pycache__/
ai_system/__pycache__/
db/__pycache__/
routes/__pycache__/
